<br><br>
<div class="container" ng-controller="ForumController as ctrl">
<div id="myDiv"
	style=" background-image: url('resources/images/f.jpg');  background-repeat: no-repeat; background-size: cover; background-position: center center;">
	Welcome to forums
	<div ng-repeat="forum in ctrl.forums">
		<a href="#/view_forum"
			ng-click="ctrl.getSelectedForum(forum.forum_id)">Title:{{forum.topic}}</a>
	</div>
	<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
</div>

